/* precisa em todas as paginas essas configurações:: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.cima{
    position: fixed;
    width: 100%;
}
#dash{
    position: relative;
    top: 30px;
    width: 45px;
    right: 180px;
    transition: 1s;
}
#subir.subida{
    opacity: 100;
    transition: 1s;
}
#subir{
    transition: 1s;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 600px;
    left: 96%;
    color: black;
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0;
    font-size: 20px;
}
body{
    background-color: black;
}
.container{
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.cabecalho {
    width: 100%;
    height: 130px;
    background-color: rgb(255, 166, 0); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
}
.cabecalho.descer{
    background-color: orange;
    height: 100px;
    transition: 1s ;
}
.cabecalho.descer .opcaologin{
    position: relative;
    margin-bottom: 10px;
    transition: 1s; 
}
.cabecalho.descer #loginbotao:checked ~ .menu1{
    top: -16px;
    right: 13px;
}
.butao.descer2{
    background-color: orange;
    transition: 1s;
}
#loginbotao{
    position: relative;
    right: 80px;
    top: -15px;
}
.menu1{
    display: none;
    flex-direction: column;
}
.butaologin{
    width: 80px;
    height: 30px;
    text-align: left;
    text-decoration: none;
}
.adologin{
    text-decoration: none;
    color: black;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
}

#loginbotao:checked ~ .menu1{
    display:flex;
    position: absolute;
    top: 45px;
    right: 13px;
    transition: 1s;
}
.naodecorado{
    text-decoration: none;
    color: orange;
}
.naodecorado:hover{
    color: white;
}
.imagemlogin{
    position: relative;
    top: -10px;
    right: 100px;
    width: 30px;
    transition: 1s;
    
}
.butaologin{
    background-color: transparent;
    border: 0;
}
.opcao{
    position: absolute;
    width: 120px;
    height: 150px;
    background-color: rgb(166, 30, 109);
    right: 40px;
    top: 100px;
    box-shadow: 2px 2px 100px 5px black;
    display:none;
}
#opcaologin{
    background-color: rgb(166, 30, 109);
    border: orange solid;
    color: orange;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 50%;
    transition: 1s;
}
.imagemcabecalho{
    margin-left: 30px;
    margin-top: 10px;
    width: 320px;
}
.butao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 55px;
    transition: 1s;
}
.buts {
    margin-top: -30px;
    background-color: black;
    width: 200px;
    height: 40px;
    border: 0;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 5px rgb(166, 30, 109);
    font-weight: bold;
    color: orange;
    font-family: 'Kanit', sans-serif;
}
.conteudo {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding-top: 300px;
}

.opcaologin{
    margin-bottom: 10px;
}

.footer{
    width: 100%;
    height: 80px;
    background-color: orange;
}

/* até aqui!!! obrigatorio em todos!! */

/* ISSO AQUI AGR É O CONTEUDO DO SITE */

.div1 {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 10px;
    width: 350px;
    border-radius: 5px;
}

#d1{
    background: url("/trabalho/filmes/90aee53811856b87f891273de433cec1.webp");
    background-repeat: no-repeat;
    background-size:cover;
}
#d2{
    background: url("/trabalho/filmes/As_Marvels.webp");
    background-repeat: no-repeat;
    background-size:cover;
}
#d3{
    background: url("/trabalho/filmes/aquaman.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.butoes {
    margin-top: 350px;
    margin-left: 75px;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    background-color: rgb(166, 30, 109);
    font-weight: bold;
    color: white;
    font-family: 'Kanit', sans-serif;
}
.butoes:hover{
    width: 210px;
    height: 50px;
    margin-top: 340px;
    margin-left: 70px;
    font-size: 18px;
    background-color: black;
    color: white; 
    border: 2px rgb(166, 30, 109) solid;
    transition: 500ms;
}

.container {
    height: 200vh;
}
#principal{
    display: flex;
    background-color:orange;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 5px;
}
.p1{
    display: flex;
    font-size: 15pt;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
}

.conteudo2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 220vh;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 180px;
}

.linha{
    width: 70%;
    height: 3px;
    background-color: white;
}

.lorem{
    margin: 15px 45px 0 ;
}

.titulo{
    font-family: 'Kanit', sans-serif;
    margin-top: 70px;
    background-color: orange;
    width: 330px;
    height: 50px;
    color: black;
    text-align: center;
    border-radius: 3px;
}

.grupooscar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.oscar{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 45%;
    height: 400px;
}
.imagemoscar{
    width: 265px;
    border: rgb(166, 30, 109) 5px solid;
    border-radius: 3px;
}

.paragrafooscar{
    margin-left: 15px;
}

.titulooscar{
    font-size: 45px;
    font-family: 'Kanit', sans-serif;
    color: orange;
}

.textooscar{
    text-align: justify;
    margin-right: 30px;
}

.oscarveja{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    text-decoration:none;
    color: white;
}
.linkoscar{
    text-decoration: none;
}

.oscarveja:hover{
    color: orange;
}

.conteudo3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#t2{
    margin-top: 20px;
}